#root, html, body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
    box-sizing: border-box;
}

.app {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./images/background-lake.jpeg');
    background-size:cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    background-color: whitesmoke;
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 10px 10px;
}